$main-font: sharetechmono;

.header {
    position:sticky;
    margin-bottom: 20px;

}

.container {
    margin: 5px;
}

.carousel-inner {
    max-width: 1500px;
    width: 100%;
    min-height: 600px;
}